{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Online store of batteries and chargers{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
 <style>
     body {background-image: url("static/img/background-img.jpg");}
 </style>
 <div class="container-xl">
  <nav class="nav" style="background-color: #e3ebec">
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'about_page' %}">About Company</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Delivery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Payment</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Discounts and promotions</a>
          </li>
      </ul>
  </nav>
 </div>
  <div class="container-xl">
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'shop:product_list' %}"><h3>Online store of batteries and chargers</h3></a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'search:product_search'%}" method="get">
              <input name = "query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                  </svg>Search</button>
          </form>
          <div id="cart">
              {% with total_items=cart|length %}
                  {% if total_items > 0 %}
                      Your cart:
                      <a href="{% url "cart:cart_detail" %}" class="badge badge-primary">
                      {{ total_items }} item{{ total_items|pluralize }},
                      {{ cart.get_total_price }} BYN
                      </a>
                  {% else %}
                      Your cart is empty.
                  {% endif %}
              {% endwith %}
          </div>
      </div>
  </nav>
  </div>

  <div id="content" class="container-xl">
      {% block content %}
      {% endblock %}
  </div>

  <div class="container-xl" id="footer" style="background-color: #e3ebec">
      <p>Here will be some usefull information.</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
         crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}" crossorigin="anonymous"></script>
</body>
</html>